.container {
  width: 100%;
  display:flex;
  justify-content: flex-end;
  align-self: flex-end;
  padding: 2rem;
  gap:1rem;
  @media screen and (max-width: 764px) {
    justify-content: center;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 8px;
    border: 1px solid turquoise;
    background-color: #170E4A;
    color: #fff;
    background: #170E4A 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #73FFEE;
    &.pressed {
      box-shadow: 0px 0px 15px #73FFEE;
      .icon {
        background-color: rgba(86, 58, 201, .5);
      }
    }
    .icon {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(86, 58, 201, .31);
      svg {
        color: turquoise;
      }
    }
  }

}