@import "/src/styles/variables";
.controls{
    z-index: 100;
    position: absolute;
    left: 2.5rem;
    bottom: 2.5rem;
}

@media screen and (max-width: $media-querie-s) {
    .controls{       
        left: 1rem;
        bottom: 1rem;
        }
    }