.container {
    background-color: white;
    border-radius: 4px;
    position: absolute;
    right: 100%;
    // height: 100px;
    width: 250px;
    &:after {
        content: "";
        width: 20px;
        position: absolute;
        background-color: white;
        rotate: 45deg;
        aspect-ratio: 1/1;
        right:-10px;
        bottom: 40px
    }
    .inner {
        padding: 1em;
        // font-size: 0.6em;
    }
}