@import "/src/styles/variables";

.container {
  display: grid;
  grid-template-columns: 66% 34% auto;

  .line{
    display: none;
  }

  &_logo{
    padding-right: 15px;
    padding-bottom: 1em;
  }
  &_count{
    padding-left: 15px;
    border-left: solid 1px #fff;
    .count {
      color: #73FFEE;
      font-size: 3rem;
      font-weight: bold;
      min-width: 136px;
      padding-bottom: 6.5px;
    }
  }
  .text {
    font-weight: normal;
    font-size: 1rem;
    color: #fff;
    text-align: right;
    &.left {
      text-align: left;
    }
  }
}

@media screen and (max-width: $media-querie-s) {
  .container{       
       display: flex;
       flex-direction: column;

       .line{
        display: flex;
        background-color: #fff;
        width: 40%;
        margin-left: 60%;
        height: 1px;
      }

      &_logo{
        padding-right: 0;
        padding-bottom:6px;
  
        .logo{
          display: flex;
          align-items: flex-start

          svg{
            width: 60%;
          }
        }
        }

        &_count{
          border-left: none;
          .count{
           text-align: right;
           font-size: 2em;
        }
       }

       .text {
        &.left {
          text-align: right;
        }
      }
  }
};