@import "/src/styles/variables";
.ProgressBarWrapper{
    display: grid;
    grid-template-columns: 25px 1fr 75px;
    >p{
        margin: 0;
        padding: 0 5px;
        color: $white;
        font-weight: bold;
    }
    
    .ProgressBar{
        border-radius: 8px;
        border: $teal-border;
        background-color: $dark-purple;
        height: 20px;
        box-shadow: $glowing-small;
    
        .filler{
            height: 100%;
            //background-color: $teal;
            background-color: $bright-purple;
            border-radius:inherit;
            transition: width 4s ease-in-out;
            text-align: right;
            display: grid;
            align-items: center;
            
        }
    
        .LabelStyle{
            color: $white;
            font-size: 0.8rem;
            padding-right: 5px;
            font-weight: bold;
        }
    }
}
