@import "/src/styles/variables";
.container {
  display: flex;
  flex-direction: column;
  .tree {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: flex-end;
    border-bottom: $purple-border;
    margin-bottom: 1rem;
    justify-content: space-between;
    .icon {
      height: 89%;
      width: 37px;
    }
    .value {
      text-align: right;
      justify-self: flex-end;
      margin-bottom: .2em;
    }
  }
}