@import "/src/styles/variables";
@import "/src/styles/mixins";
.text {  

    &.bannerTitleText {
        @include font-size($title);
        color: $banner-smallText-color;
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: bold;
    }
    &.bannerText {
        @include font-size($banner);
        color: $bannerText-color;
        margin: 0;
        font-weight: bold;
    }
    &.bannerPText {
        @include font-size($p);
      margin-bottom: 0;
    }
}