.BasicForm {
  display: grid;
}

.small {
  width: 300px;
}

.medium {
  width: 600px;
}

.large {
  width: 900px;
}

.right {
  justify-items: right;
}

.centered {
  justify-items: center;
}

.left {
  justify-items: left;
}
