@import "/src/styles/variables";
.heading {
  margin: 0;
  padding: 0;
  &.small {
    font-size: $p-size;
  }
  &.medium {
    font-size: $title-size;
  }
  &.large {
    font-size: $banner-size;
  }
}
