@import "/src/styles/variables";

.button {
    border: none;
    border-radius: 8px;
    padding: .5em 1em;
    cursor: pointer;
    transition: .2s ease-in-out;
    &.primary {
        background-color: $bright-purple;
        color: $white;
        &.hoverPrimary:hover {
            background-color: $dusty-dark-purple;
        }
        &.focusPrimary:focus {
            box-shadow: 0 0 2px 2px rgba(16, 2, 42, 0.5);
        }
        &.activePrimary:active {
            background-color: $dark-purple;
        }
        &.disabledPrimary:disabled {
            background-color: #6F718D;
        }
    }
    &.secondary {
        background-color: $dark-purple;
        color: $teal;

    }
    &.glowing {
        box-shadow: $glowing-small;
        border: $teal-border;
        color: $white;
        padding: 0em 0em;
        &:hover {
            box-shadow: $glowing-large;
        }
    }

    //Text size 
    &.small {
        // Add styling for small buttons here
    }
    &.medium {
        padding: .8rem 1.5rem;
    }
    &.large {
        // Add styling for large buttons here
    }
    
}