@keyframes slideRight {
  0% {
    top: 200px;
    left: -100%;
  }
  50% {
    top: 200px;
    left: 200%;
  }
  51% {
    top: 400px;
  }
  100% {
    top: 400px;
    left: -100%;
  }
}

@keyframes flip {
  0% {
    transform: scaleX(-1);
  }
  50% {
    transform: scaleX(-1);
  }
  51% {
    transform: scaleX(1);
  }
  99% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(-1);
  }
}

@keyframes wobble {
  0% {
    transform: translateY(3%);
  }
  50% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(3%);
  }
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}