@import 'variables';

/*$title-size*/
$title: (
  null  : 1.7em,
  $media-querie-s : 2em,
  $media-querie-m : $title-size,
  $media-querie-l: 2.75em
);

/*$banner-size*/
$banner: (
  null  : 3.2em,
  $media-querie-s : 5em,
  $media-querie-m : $banner-size,
  $media-querie-l: 6.25em
);

/*$p-size*/
$p: (
  null  : .8em,
  $media-querie-s : 1em,
  $media-querie-m : $p-size,
  $media-querie-l: 1.1em
);

@mixin font-size($fs-map) {
    @each $fs-breakpoint, $fs-font-size in $fs-map {
      @if $fs-breakpoint == null {
        font-size: $fs-font-size;
      }
      @else {
        @media screen and (min-width: $fs-breakpoint) {
          font-size: $fs-font-size;
        }
      }
    }
  }
