$animation-width: 100vw;


// Forest
$tile-gap: 16px;
$tile-width: calc(100px - $tile-gap);
$tiles-adjustment-x: 0;
$tiles-adjustment-y: 0%;
$squeeze-factor: .4;
$tree-size: 2;

// Colours
$darkest-purple: #161737;
$dark-purple: #170E4A;
$dusty-dark-purple: #32345C;
$bright-purple: #563AC9; 
$dusty-purple: #6F718D;

$dark-purple-hover: #2c0e4a;

$teal: #73FFEE;
$dark-blue: #161737;
$faded-blue: rgba(49, 112, 255, 0.27);
$snow-blue: #F6F9FF;
$faded-dusty-blue: rgba(12, 143, 239, 0.19); 

$black: #000000;
$white: #ffffff;
$faded-white: #FFFFFF29;
$grey: #8D94A7; 

//Font colors
$title-color: $dusty-dark-purple;
$p-color: $dusty-purple;
$lighter-p-color: $grey; 
$cta-color: $bright-purple; 
$bannerText-color: $teal;
$banner-smallText-color: $snow-blue;

// Font family and size
$font-fam: 'Roboto', sans-serif;
$title-size: 2.25em;
$p-size: 1.0625em; 
$banner-size: 6.25em;
$label-size: 0.7em;

// Borders
$teal-border: 1px solid $teal; 
$wide-teal-border: 2px solid $teal;
$dark-boder: 1px solid $dark-blue;
$purple-border: 1px solid #573ac959; 

//Box-shadow
$glowing-small: 0px 0px 10px $teal;
$glowing-large: 0px 0px 15px $teal;
$dusty-blue-shadow: 0px 0px 30px $faded-dusty-blue;
$faded-blue-shadow: 0px 0px 20px $faded-blue; 

//Gradiants
$background-gradiant:linear-gradient(200deg, rgba(13,3,41,1) 12%, rgba(79,15,164,1) 49%, rgba(126,0,255,1) 100%);

//Media queries
$media-querie-s: 43rem; 
$media-querie-m: 63rem; 
$media-querie-l: 82rem; 