@import 'fonts';
@import 'svg';
@import 'variables';

* {
  box-sizing: border-box;
}
body {
  margin:0;
  overflow-x: hidden;
}

h1 {
  color: $title-color;
}

h2 {
  color: $title-color;
}

main {
  width: 100%;
  height: 100%;
}

.trees-container {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.spaceman {
  position: absolute;
  bottom: 12vw;
  transition: translate .5s;
  @media screen and (max-width: 764px) {
    bottom: 36vw;
    // svg {
    //   height: 16vw    

    // }
  }
  &.facing-left {
    transform: scaleX(-1) ;
  }
}



.trees-container:hover {
  background-color: lightgrey;
}


@keyframes background {
  0% {
    background-position: 1px 1px;
  }
  50% {
    background-position: -10px 5px;
  }
  60% {
    background-position: -10px -5px ;
  }
  70% {
    background-position: 0px -5px;
  }
  100% {
    background-position: 1px 1px;
  }
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

