@import "/src/styles/variables";

.inputField {
  display: grid;
  margin: 10px 0;
  width: 100%;
  > input {
    border: $purple-border;
    width: 100%;
    border-radius: 4px;
    padding: 10px 10px;
    margin-top: 5px;

    &:focus {
      border: $teal-border;
      box-shadow: $glowing-small;
    }
    &:focus-visible {
      outline: none;
    }
  }
  > label {
    font-weight: bold;
  }
}
