@import "/src/styles/variables";

.section {
    padding: 4rem 0;
    text-align: center;
    .content {
        max-width: 790px;
        margin: 0 auto;
        h2 {
            margin-bottom: 2rem;
            span {
                color: #563AC9;
                line-height: 2em;
            }
        }
        p {
            color: #6F718D;
            line-height: 2em;
            font-size: 1em;
            margin-bottom: 2rem;
        }
    }
    .contributions {
        max-width: 1080px;
        margin: 5rem auto;
        .iconboxcontainer {
            display: flex;
            gap: 20px;
        }
    }
}
@media screen and (max-width: $media-querie-l) {
    .section {
        padding: 1.5rem 0; 
        .content{
            width: 80%;
       }

       .contributions{
        margin: 2.5rem auto;
    }
    }
};

@media screen and (max-width: $media-querie-s) {
    .section {
       .contributions{
        margin: 2.5rem auto;
    }
    }
};