@import "/src/styles/variables";
.legend {
    position: absolute;
    left: 2.5rem;
    top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 100;
    .icon {
        width: 4.5rem;
        height: 2.5rem;
        cursor: pointer;
        background-color: $dark-purple;
        box-shadow: $glowing-large;
        border: $teal-border;
        border-radius: 8px;
        padding: .8em;
        color: $snow-blue;
        display: flex;
        align-items: center;
        
        :last-child{
          margin-right: 8px;
          
        }
    }
    .tableContainer {
        padding: 1em 1em ;
        margin-top: .2em;
        background-color: $dark-purple;
        box-shadow: $glowing-large;
        border: $teal-border;
        border-radius: 8px;
        transition: all .2s ease-in-out;
        max-width: 178px;
        color: $snow-blue;
    }
}

@media screen and (max-width: $media-querie-s) {
    .legend{       
        left: 1rem;
        top: 1.5rem;
        }
    }