@import "/src/styles/variables";
.header {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;
  position: absolute;
  z-index: 59;
  padding: 2.5rem 2rem;
}

@media screen and (max-width: $media-querie-s) {
  .header{     
      padding: 1rem 1rem 1rem 8rem;
      width: 100%;
  }
}
