@import "/src/styles/variables";

.container {
    display: flex;
    justify-content: space-between;
    margin-top:3em;
    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 32%;
        line-height: 2em;      
    } 
}

@media screen and (max-width: $media-querie-m) {
    .container{
        flex-wrap: wrap;
        justify-content: center;

        > div{
            width: 46%;
            margin: .5em;
        }
    }

};

@media screen and (max-width: $media-querie-s) {
    .container{
          > div{
            width: 90%;
        }
    }

};
