@import "/src/styles/variables";

.banner{
     text-align: center;
     display: grid;
     color: $banner-smallText-color;
     padding: 30px 0;
     justify-content: center;

     .bannerProgress{
          padding: 20px 0;
          display: grid;
          width: 100%;   
     }
}


 @media screen and (max-width: $media-querie-s) {
     .banner{
          margin: 0 5% 0 5%; 
     }
 };