@import "../../../styles/variables.scss";

.container {
    aspect-ratio: 1/1;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    @media screen and (max-width: $media-querie-l) {
        scale: 1;
    };
    
    @media screen and (max-width: $media-querie-m) {
        scale: 0.8;
        translate: 0 40px;
    };
    
    @media screen and (max-width: $media-querie-s) {
        scale: 0.6;
        translate: 0 40px;
    };
    .squeeze {
      transform: scaleY($squeeze-factor);
      height: 100%;
      width: 100%;
      .grid {
        display: grid;
        grid-template-columns: repeat(10, $tile-width);
        grid-template-rows: repeat(10, $tile-width);
        gap: $tile-gap;
        rotate: 45deg;
        cursor: grab;
        padding: 32px;
        background-color: #2E204E;
        background-image: url("/img/surface.png");
        box-shadow: 20px 20px 5px 0px #161737;
      }
      .grid:active{
        cursor: grabbing;
      }
    }
}
