@import "/src/styles/variables";
.addTree {
    position: absolute;
    right: 2.5rem;
    bottom: 2.5rem;
    display: flex;
    align-items: center;
    gap: 1em;
    z-index: 200;
    padding: 0rem 1rem;
    height: 40px;
    }
