@import "/src/styles/variables";

@import "../../../styles/variables.scss";
.footer {
  padding: 1.5em 2.7em;
  &.small {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: $white;
    color: $lighter-p-color;
    font-size: $label-size;
    :nth-last-child(-n + 2) {
      text-align: right;
    }
    & p {
      margin: 0 0;
    }
  }
}


@media screen and (max-width: $media-querie-s) {
  .footer{
    &.small{
      grid-template-columns: 1fr 1fr;
      text-align: center;

      :nth-last-child(-n + 2) {
        text-align: center;
      }
    }
  }
};
