.container {
    display: flex;
    justify-content: space-between;
    margin-top:3em;
    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 32%;
        line-height: 2em;
    } 
}