@import "/src/styles/variables";
.login {
    position: absolute;
    left: 7.4rem;
    top: 2.5rem;
    display: flex;
    align-items: center;
    gap: 1em;
    z-index: 100;
    height: 40px;

    }


@media screen and (max-width: $media-querie-s) {
    .login {       
        left: 1rem;
        top: 1.5rem;
        }
    }