@import "../../../styles/variables.scss";

.tile {
    width: $tile-width;
    height: $tile-width;
    background-color: transparent;
    border: 1px solid $darkest-purple;
    &:hover {
      border:none;
      box-shadow: $glowing-small, inset $glowing-small;
    }
    .content{
      height: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      rotate:-45deg;
      transform: scaleY(2.5);
      transform-origin: bottom;
      pointer-events: none;
      > svg {
        scale: $tree-size;
        transform-origin: bottom;
        pointer-events: all;
      }
    }
    .tree {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
    }
  }