@import "/src/styles/variables";

.loginFormWrapper {
  padding: 20px 40px;
  background-color: $dark-blue;
  width: fit-content;
  border-radius: 8px;
  border: $teal-border;
  box-shadow: $glowing-small;
  z-index: 10;

  > h3 {
    color: $white;
    text-align: center;
    padding: 20px 0;
  }

  label {
    color: $white;
    font-weight: 400 !important;
  }
}

.ButtonWrapper {
  padding: 20px 0px;
  > Button {
    padding: 10px 40px;
    margin: 0 10px;
  }
 
}
