@import "/src/styles/variables";

.buttonIcon {
    border: none;
    border-radius: 8px;
    padding: .5em 1em;
    cursor: pointer;
    transition: .2s ease-in-out;
    &.primary {
        background-color: $bright-purple;
        color: $white;
        &:hover {
            background-color: $dusty-dark-purple;
        }
    }
    &.secondary {
        background-color: $dark-purple;
        color: $teal;
    }
    &.glowing {
        box-shadow: $glowing-small;
        border: $teal-border;
        color: $white;  
        &:hover {
            box-shadow: $glowing-large;
        }
    }
    &.small {
        width: 40px;
        height: 40px;
        margin-right:5px;
    }
    &.medium {
        padding: 1rem 2rem;
    }
    &.large {
        //padding: 1rem 1rem;
    }
}